<div>
  <h3>Edit Question</h2>
    <div class="errors"><%= erb :'partials/_save_errors', locals: { object: @question } %></div>
    <%= erb :'partials/_question_form', locals: {path: @path, method: @method, question: @question} %>
</div>
