<!-- Displays all questions -->
<div class="feed-container">
<div class="header">
  <% if logged_in? %>
    <h4><a href="/questions/new">Ask a Question</a></h4>
  <% end %>
  <h1>What everyones asking</h1>
</div>

  <% @questions.each do |question| %>
  <div class="post-div">
    <%= erb :'partials/_question_stub', locals: {question: question} %>
  </div>
<% end %>


