<!-- Displays all questions -->
<div class="feed-container">
<div class="header">
  <h1>What everyones asking</h1>
</div>

  <% @questions.each do |question| %>
  <div class="post-div">
    <%= erb :'partials/_question_stub', locals: {question: question} %>
  </div>
<% end %>


