<div>
  <h3>New Question</h2>
  <div class="errors"><%= erb :_save_errors, :layout => false, :locals => { :model => @question } %></div>
    <%= erb :'partials/_question_form', locals: {path: @path, method: @method, question: @question} %>
</div>
