<div class="container">
  <div class="title">
    <h2 class="question_title"><%= @question.title %></h2>
  </div>

  <div class="body">

    <div class="sidebar">
      <table>
        <tr>
          <td class="stats">asked</td>
          <td>date</td>
        </tr>
        <tr>
          <td class="stats">viewed</td>
          <td>999 times</td>
        </tr>
        <tr>
          <td class="stats">active</td>
          <td>now</td>
        </tr>
      </table>
      <img src="/ads/sidebar.png" />
    </div>

    <div class="main_content">
      <div class="ad">
        <img src="/ads/puppy.png" atl="ad image" />
      </div>

      <div class="question">
        <div class="question_votes"><img src="/temp_vote.png" /></div>
        <div class="question_body"><%= @question.body %></div>
      </div>

      <div class="author_details">
        <span>asked on #date</span>
        <span><img src="/pikachu.png" alt="author profile picture" /></span>
      </div>

    </div>

  </div>

</div>
