<div class="container">
  <div class="title">
    <h2 id="question_title"><%= @question.title %></h2>
  </div>

  <div class="body">

    <div class="sidebar">
      h
    </div>

    <div class="main_content">
      <div class="ad">
        <img src="/ads/puppy.png" atl="ad image" />
      </div>

      <div class="question">
        <div class="question_votes"><img src="/temp_vote.png" /></div>
        <div class="question_body"><%= @question.body %></div>
      </div>



    </div>

  </div>

</div>
