
.question_stub_details {
  display: block;
}

.question_stub_author {
  display: inline-block;
  float: right;
  padding-right: 3%;
  padding-top: 1.3em;
}

.question_stub_tag_list li{
  display: inline;
  list-style-type: none;
  margin: 5px;
  padding: 5px;
  background: #DAE6EF;
  color: #659ACD;
}

.question_stub a {
  color: #30A7FC;
}

.question_stub_votes {
  float: left;
  margin-left: 2%;
  padding-top: 1.25%;
  max-width: 30%;
}

.question_stub_votes>div{
  display: block;
}

.question_stub_title {
  display: inline-block;
  margin-left: 4.2em;
}

.question_stub_title > h3{
  transition: transform .1s ease-out;
}

.question_stub_title > h3:hover {
  transform: scale(1.02);
}