.question_stub {
  /*background: #808080;*/
  /*have the top border created elsewhere*/
  border-bottom: 1px solid black;
}

.question_stub_author {
  position: relative;
  display: block;
  float: right;

}

.question_stub_tag_list li{
  /*clear: right;*/
  display: inline;
  list-style-type: none;
  margin: 5px;
  padding: 5px;
  background: #DAE6EF;
  color: #659ACD;
}

.question_stub a {
  color: #30A7FC;
}

.question_stub>div {
  display: inline-block;
}

.question_stub_votes {
  float: left;
  width: 30%;
}

.question_stub_votes>div{
  display: inline-block;
}

.question_stub_summary {
  display: block;
  width: 60%;
}
