
<form class="answer-comment-form" action="/<%=locals[:poster]%>/<%=locals[:id]%>/comments/new" method="post">
    <textarea name="body" placeholder="Write comment here..."></textarea>
    <input type="submit"></input>
</form>
