<form class="new_comment" action="/<%=parent%>s/<%=id%>/comments/new" method="post">
    <textarea name="body" placeholder="Write comment here..."></textarea>
    <input type="submit" data-parent="<%=parent%>"></input>
</form>
