<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">
  <link rel="stylesheet" href="/css/question_stub.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
  <title>Question Corner</title>
</head>
<body>
  <nav class = "header-global-container">
    <div class = "header-contents">
      <div id = "header-title"><h1>Stack Gameofthrone</h1></div>
      <div id = "header-options">
        <ul>
          <li><a href="#">home</a></li>
          <li><a href="#">topics</li></a>
          <li><a href="#">some option</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <main>
    <%= yield %>
  </body>
</html>
