<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link href='http://fonts.googleapis.com/css?family=Lato:100,400' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">
  <link rel="stylesheet" href="/css/question_stub.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
  <script src="/js/answer.js"></script>
  <script src="/js/login.js"></script>
  <script src="/js/sort.js"></script>
  <title>Question Corner</title>
</head>
<body>
  <nav class = "header-global-container">
    <div class = "header-contents">
      <h1 id = "header-title"><a href="/">Stark Overthrone</a></h1>
      <div id = "header-options">
        <ul>
          <% if logged_in? == false %>
            <li><a href="/signup" id="signup_link">sign up</a></li>
            <li><a href="/login" id="login_link">login</a></li>
            <li class="login_box"></li>
          <% else %>
            <%= erb :'partials/_login_success' %>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
  <main>
    <%= yield %>
  </main>
  </body>
</html>
