<div class = "container">
  <h3>Login</h3>
  <hr>

  <% if @errors  %>
    <%= @errors %>
  <% end %>

  <%= erb :'partials/_login' %>

  <p>Don't have an account yet? <a href="/signup">sign up here</a></p>
</div>
